.red{
    color: red;
    font-weight: bold;
}

#first{
    border: 2px dotted green;
    padding: 5px;
    width: 200px;
    height: 200px;
    text-align: center;
    position: relative;
    top: 50px;
}

#second{
    border: 2px dotted green;
    padding: 5px;
    width: 200px;
    height: 200px;
    text-align: center;
    position: absolute;
}